.container{
  display: flex;
  justify-content: center;
  
}

.dropdown {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin:100px;
  width: 220px;
  }
  .dropdownMultiple {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin:100px;
    }
  .dropdownText {
    margin-left: 81px; 
    cursor: pointer;
}

.content {
position: absolute;
margin-top:330px;
min-width: 220px;
padding-top: 10px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
background-color: #f9f9f9;  
border: 1px solid #ddd;
border-radius: 4px;
text-align: center;
  

}

.text{
  cursor: pointer;
}

